layout {
  default_tab_template {
    pane size=1 borderless=true {
        plugin location="zjstatus" {
          format_left   "{mode} {tabs}"
          format_center "{datetime}"
          //format_right  "{mode}"
          format_space  "-"
          tab_normal   "#[bg=$blue,fg=$crust] {index} {name} #[fg=$blue]"
          tab_active   "#[bg=$green,fg=$crust,bold,italic] {index} {name} #[fg=$green]"
          tab_separator " "

          datetime        "#[fg=$green,bold] 󰅐 {format} "
          datetime_format "%a, %d. %b %H:%M"
          datetime_timezone "Europe/Berlin"
          mode_normal  "#[fg=yellow]   "
          mode_locked  "#[fg=red]   "
        }
    }
    children

   pane size=1 borderless=true {
       plugin location="zellij:status-bar"
   }
  }
  tab name="main" {
    pane split_direction="vertical" {
        pane size="60%"
        pane size="40%"
    }
  }
  tab name="second" {
    pane
  }
}
